* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}

a{
    text-decoration: none;
}

header{
    position: fixed;
    top: 0cm;
    display: flex;
    width: 100%;
    padding: 2rem 3rem;
    align-items: center;
    justify-content:space-between;
    background: radial-gradient(circle, #14133d, #262e7a);
}

.person{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.person svg{
    width: 2.5rem;
    height: 2.5rem;
    color: #76a8d6;
}

.person h2{
    color: #b2d0ec;
}

.person h2:hover{
    animation: forwards;
}

.menu ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #acc6df;
}

.menu svg{
    width: 1.5rem;
    height: 1.5rem;
    color: #76a8d6;
}